<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновить директора</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 20%;
        }
    </style>
</head>
<body>
<div>
    <form th:method="put"  th:action="@{'/director/update/' + ${director.get().getId()}}" th:object="${director}">
        <label>Айди:</label>
        <input type="text" th:field="*{id}" />
        <br>
        <label>Имя:</label>
        <input type="text" th:field="*{name}" />
        <br>
        <label>Отдел:</label>
        <select name="departments" th:field="*{department}">
            <option th:each="dep : ${T(ru.sber.domain.enums.Department).values()}"
                    th:value="${dep}" th:text="${dep}"></option>
        </select>
        <br>
        <label>Подчинённые</label>
        <div th:each="employee : ${employees}">
            <input type="checkbox"  name="employee-id" th:value="${employee.id}"
                   th:text="${employee.id + ' ' + employee.name}"
                   th:checked="${#lists.contains(director.get().employees, employee.id)}">
        </div>
        <br>
        <button type="submit">Редактировать</button>
    </form>
</div>
</body>
</html>