<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновить директора</title>
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 20%;
        }
    </style>
</head>
<body>
<div>
    <form th:method="put"  th:action="@{'/director/update/' + ${director.get().getId()}}" th:object="${director}">
        <input type="text" th:field="*{id}" />
        <input type="text" th:field="*{name}" />
        <select name="departments" th:field="*{department}">
            <option th:each="dep : ${T(ru.sber.domain.enums.Department).values()}"
                    th:value="${dep}" th:text="${dep}"></option>
        </select>
        <input type="text" th:field="*{employees}" />
        <button type="submit">Редактировать</button>
    </form>
</div>
</body>
</html>